Source: intellij-idea-community
Section: devel
Priority: optional
Maintainer: Marcel Kapfer <opensource@mmk2410.org>
Build-Depends: debhelper-compat (= 9)
Standards-Version: 4.2.1

Package: intellij-idea-community
Architecture: all
Pre-Depends: wget
Depends: ${misc:Depends}
Suggests: git, default-jdk
Description: IntelliJ IDEA Community Edition
 Every aspect of IntelliJ IDEA is specifically designed to maximize developer
 productivity.
 .
 Together, the powerful static code analysis and ergonomic design make
 development not only productive but also an enjoyable experience.
