Package: intellij-idea-community
Version: 2016.2.4-1
Architecture: all
Maintainer: Marcel Michael Kapfer <marcelmichaelkapfer@yahoo.co.nz>
Installed-Size: 34
Depends: lib32ncurses5, default-jdk | oracle-java7-installer | oracle-java8-installer, libc6-i386, lib32stdc++6, lib32gcc1, lib32z1, lib32z1-dev, unzip
Section: devel
Priority: optional
Description: IntelliJ IDEA Community
 A intelligent Java IDE by JetBrains
